* {
    margin: 0;
    padding: 0;
    user-select: none;
    z-index: 0;
  }
  
  html {
    background: url(../Images_1/doll_3_img/background.jpg) center no-repeat;
    width: 100%;
    height: 100%;
    /* position: relative; */
    overflow-x: hidden;
  }
  
  .doll_3_ContentBlocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    /* background-color: url(); */
    z-index: 500;
  }
  
  .doll_3_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 100%;
  min-height: 100%; */
    cursor: url(../Images_1/doll_3_img/cursor.png), auto;
  }
  
  .doll_3_Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .doll_3_Main {
    box-shadow: inset 0 66px 73px -30px #333;
    background-color: #fff;
    background-size: cover;
    box-sizing: border-box;
    width: 80%;
    position: relative;
    height: 450px;
    border: 40px solid #2eb4ff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  
  
  .doll_3_insideBox {
    width: 100%;
   display: flex;
   justify-content: space-evenly;
  }
  
  .doll_3_item {
    height: 140px;
    transform: scale(1);
    transition: transform 1s ease;
    cursor: url(../Images_1/doll_3_img/cursor.png), auto;
  }
  
  .doll_3_Well_done {
    height: 300px;
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .doll_3_Wrong {
    position: absolute;
    /* font-size: 50px;
  font-weight: bold;
  color: #ed1e79; */
    /* font-family: Comic Sans MS; */
  }
  
  .doll_3_FullScreenBtn {
    position: absolute;
    margin: 40px 0 0 78%;
    z-index: 5;
    background-color: #ed1e79;
    border-radius: 30%;
    cursor: url(../Images_1/doll_3_img/cursor.png), auto;
  }
  
  .doll_3_MuteSound {
    position: absolute;
    margin: 242px 0 0 78%;
    z-index: 5;
    background-color: #ed1e79;
    border-radius: 30%;
    cursor: url(../Images_1/doll_3_img/cursor.png), auto;
  }
  
  .doll_3_ResetBtn {
    box-sizing: border-box;
    padding: 12px;
    position: absolute;
    margin: 140px 0 0 78%;
    z-index: 5;
    background-color: #ed1e79;
    border-radius: 30%;
    cursor: url(../Images_1/doll_3_img/cursor.png), auto;
  }
  
  .hide {
    opacity: 0.3;
    transition: all 1s ease;
    pointer-events: none;
  }
  
  .hideSmiledoll_3 {
    opacity: 0;
    transition: all 1s ease;
    pointer-events: none;
  }
  
  .onViewdoll_3 {
    opacity: 1;
    transition: all 1s ease;
  }
  
  .smiledoll_3 {
    height: 330px;
  }
  
  .scaleBigdoll_3 {
    transform: scale(1.5);
    transition: transform 1s ease;
  }
  
  .dragTransition {
    transition: all 1s;
  }
  .doll_3_svg{
height: 250px;


  }
  .containerdoll_3{
    width: 100%;
  }
  .hovered{
    stroke: blueviolet;
    stroke-width: 7px;
  }
  .hoveredClicked{
    transition: 2s linear; 
    stroke: black;
    stroke-width: 1px;
  }
  .hoveredDoll{
    stroke: blueviolet;
    stroke-width: 7px;
  }