* {
  margin: 0;
  padding: 0;
  user-select: none;
  z-index: 0;
}

html {
  background: url(../Images_1/doll_8_img/background.jpg) center no-repeat;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

.doll_8_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: url(../Images_1/doll_8_img/cursor.png), auto;
}

.doll_8_Container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.doll_8_Main {
  box-shadow: inset 0 66px 73px -30px #333;
  background-color: #fff;
  background-size: cover;
  box-sizing: border-box;
  width: 80%;
  position: relative;
  height: 900px;
  border: 40px solid #2eb4ff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.doll_8_Well_done {
  height: 150px;
  position: absolute;
}

.doll_8_FullScreenBtn {
  position: absolute;
  margin: 40px 0 0 78%;
  z-index: 5;
  background-color: #ed1e79;
  border-radius: 30%;
  cursor: url(../Images_1/doll_8_img/cursor.png), auto;
}

.doll_8_MuteSound {
  position: absolute;
  margin: 242px 0 0 78%;
  z-index: 5;
  background-color: #ed1e79;
  border-radius: 30%;
  cursor: url(../Images_1/doll_8_img/cursor.png), auto;
}

.doll_8_ResetBtn {
  box-sizing: border-box;
  padding: 12px;
  position: absolute;
  margin: 140px 0 0 78%;
  z-index: 5;
  background-color: #ed1e79;
  border-radius: 30%;
  cursor: url(../Images_1/doll_8_img/cursor.png), auto;
}

.hide {
  opacity: 0;
  transition: all 1s ease;
  pointer-events: none;
}

.hideSmiledoll_8 {
  opacity: 0;
  transition: all 1s ease;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.onViewdoll_8 {
  opacity: 1;
  transition: all 1s ease;
}

.smiledoll_8 {
  height: 330px;
}

.doll_8_action {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 1s ease;

  position: absolute;
}

.doll_8_image {
  width: 800px;
  height: 600px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
